{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex flex-row justify-content-center">
        {{ form_start(form, {'attr': {'style': 'width:15%'}}) }}
        {{ form_end(form) }}
    </div>
{% endblock %}