@import "~bootstrap/scss/bootstrap";

body {
    background-color: lightgrey;
}

.game-board {
    width: 40%;
}

.game-board-player-list {
    float: left;
}

.dice-color-red {
    color: #FF3333;
}

.dice-color-purple {
    color: purple;
}

.dice-color-blue {
    color: darkblue;
}

.dice-color-green {
    color: green;
}
.dice-color-orange {
    color: orange;
}

.dice-color-yellow {
    color: yellow;
}